{{ section:nav }}
  <p class="font-bold typeset-minor uppercase text-grey-dark">
    <a class="hover:underline" href="/">Home</a> / <span class="text-black">{{ title }}</span>
  </p>
{{ /section:nav }}

<section class="pt-8 pb-8">
  <div class="flex wrap-xl pb-2">
    <div class="px-4">
      <a class="text-red typeset-minor hover:underline" href="/understand">< back to understand</a>
    </div>
    <div class="ml-auto px-4">
      <a class="text-red typeset-minor hover:underline" href="/newsletters">
        Newsletters >
      </a>
    </div>
  </div>
  <div class="wrap-xl px-4">
    {{ text | classify }}
  </div>
  {{ if download_text }}
  <div class="wrap-xl px-4 pt-8">
    <a class="btn-base btn-red" href="{{ download }}" target="_blank">{{ download_text }}</a>
  </div>
  {{ /if }}
</section>

<section>
  <div class="wrap-xl">
    <div class="flex">
      <div class="w-32 text-center"></div>
      <div class="flex-1 p-4 text-center">
        <p class="font-semibold uppercase text-center text-grey-dark">Volunteer</p>
      </div>
      <div class="flex-1 p-4 text-center">
        <p class="font-semibold uppercase text-center text-grey-dark">Campaign</p>
      </div>
      <div class="flex-1 p-4 text-center">
        <p class="font-semibold uppercase text-center text-grey-dark">Regular Giving</p>
      </div>
      <div class="flex-1 p-4 text-center">
        <p class="font-semibold uppercase text-center text-grey-dark">Legacy & Wills</p>
      </div>
    </div>
    <div class="flex">
      <div class="flex w-32 p-4">
        <p class="font-semibold uppercase text-center text-grey-dark my-auto">Freestyling Fatima</p>
      </div>
      {{ collection:game row:is="Freestyling Fatima" column:is="Volunteer" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
      {{ collection:game row:is="Freestyling Fatima" column:is="Campaign" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
      {{ collection:game row:is="Freestyling Fatima" column:is="Regular giving" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
      {{ collection:game row:is="Freestyling Fatima" column:is="Legacy & Wills" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
    </div>
    <div class="flex">
      <div class="flex w-32 p-4">
        <p class="font-semibold uppercase text-center text-grey-dark my-auto">Worried Wendy</p>
      </div>
      {{ collection:game row:is="Worried Wendy" column:is="Volunteer" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
      {{ collection:game row:is="Worried Wendy" column:is="Campaign" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
      {{ collection:game row:is="Worried Wendy" column:is="Regular giving" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
      {{ collection:game row:is="Worried Wendy" column:is="Legacy & Wills" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
    </div>
    <div class="flex">
      <div class="flex w-32 p-4">
        <p class="font-semibold uppercase text-center text-grey-dark my-auto">Stretched Sandra</p>
      </div>
      {{ collection:game row:is="Stretched Sandra" column:is="Volunteer" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
      {{ collection:game row:is="Stretched Sandra" column:is="Campaign" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
      {{ collection:game row:is="Stretched Sandra" column:is="Regular giving" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
      {{ collection:game row:is="Stretched Sandra" column:is="Legacy & Wills" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
    </div>
    <div class="flex">
      <div class="flex w-32 p-4">
        <p class="font-semibold uppercase text-center text-grey-dark my-auto">Established Emma</p>
      </div>
      {{ collection:game row:is="Established Emma" column:is="Volunteer" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
      {{ collection:game row:is="Established Emma" column:is="Campaign" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
      {{ collection:game row:is="Established Emma" column:is="Regular giving" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
      {{ collection:game row:is="Established Emma" column:is="Legacy & Wills" }}
        {{ partial:components/game-card }}
      {{ /collection:game }}
    </div>
  </div>
</section>