{{ section:nav }}
  <p class="font-bold typeset-minor uppercase text-grey-dark">
    <a class="hover:underline" href="/">Home</a> / <span class="text-black">{{ title }}</span>
  </p>
{{ /section:nav }}

<section class="pt-16 pb-8">
  <div class="wrap-lg px-4">
    <h1 class="typeset-title mb-[.5em]">
      Introduction to <span class="text-red">Good Conversations</span>: Boomer Women Co-Creation Programme 
    </h1>
  </div>
  <div class="wrap-lg px-4">
    {{ text | classify | nl2br }}
  </div>
</section>

<section class="pb-8">
  <div class="wrap-lg px-4">
    {{ if link_entry }}
      <div class="pb-8">
        <a
          class="block relative"
          href="{{ link_entry }}"
          target="_blank"
          x-data="{ hover: false }"
          @mouseenter="hover = true"
          @mouseleave="hover = false"
        >
          <img class="block relative z-10 w-full" src="{{ glide:link_image w="1280" q="80" }}">
          <div
            class="absolute inset-0 z-20 flex"
            x-show="hover"
            x-transition.opacity
            x-cloak
          >
            <div class="absolute inset-0 bg-red opacity-40"></div>
            <div class="m-auto">
              <div class="btn-base btn-white">Download</div>
            </div>
          </div>
        </a>
      </div>
    {{ /if }}
    {{ if link_entry_two }}
      <div class="pb-8">
        <a
          class="block relative"
          href="{{ link_entry_two }}"
          target="_blank"
          x-data="{ hover: false }"
          @mouseenter="hover = true"
          @mouseleave="hover = false"
        >
          <img class="block relative z-10 w-full" src="{{ glide:link_image_two w="1280" q="80" }}">
          <div
            class="absolute inset-0 z-20 flex"
            x-show="hover"
            x-transition.opacity
            x-cloak
          >
            <div class="absolute inset-0 bg-red opacity-40"></div>
            <div class="m-auto">
              <div class="btn-base btn-white">Download</div>
            </div>
          </div>
        </a>
      </div>
    {{ /if }}
  </div>
</section>